@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.logo {
  width: 25%;
  height: auto;
  position: absolute;
  z-index: 9999;
}

.header {
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1.25em 2.5em;
}

.menu__link__start {
  text-decoration: none;
  color: white;
  padding: 1em 1.875em;
}

.top__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: 900;
  background-color: #F2B151;
  transform: translateX(100%);
  transition: 1s ease;
}

.more-info__header {
  position: relative;
  width: 1.875em;
  z-index: 999999;
  cursor: pointer;
}

.menu__responsive {
  z-index: 99999;
  transform: translateY(0);
}

.nav__active {
  color: #000;
  font-weight: bold;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .logo {
    width: 20%;
    transition: 0.5s ease;
    z-index: 999;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    width: 15%;
    height: auto;
    position: absolute;
    z-index: 999;
  }

  .header {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 7.5em;
  }

  .menu__link__start {
    text-decoration: none;
    color: white;
    padding: 0 1em;
  }

  .nav__active {
    color: #F2B151;
    font-weight: bold;
  }

  .more-info__header {
    display: none;
  }

  .top__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    transform: translateX(0);
    background-color: transparent;
  }
}
@media screen and (min-width: 1920px) {
  .header {
    padding-left: calc((100vw - 1920px) / 2);
    padding-right: calc((100vw - 1920px) / 2);
  }
}
.text__color {
  position: relative;
  background-color: #161616;
}

.band__img img {
  display: block;
  width: 100%;
  transition: 0.7s ease;
}

.text-transparent {
  display: block;
  text-align: center;
  transition: 0.5s ease;
}

.text-transparent p {
  color: #161616;
  font-size: 1em;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  line-height: 1em;
  background-color: #F2B151;
  opacity: 0.8;
  padding: 1em 2em;
}

.bouton {
  line-height: 45px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 2em 3em;
}

.black, .black-full:hover {
  color: #161616;
  background-image: url("https://pankart.natacha-belboom.be//wp-content/themes/pankart/public/img/boutonnoir.svg");
  background-size: 100% 100%;
  transition: 0.2s ease;
}

.orange {
  color: #F2B151;
  background-image: url("https://pankart.natacha-belboom.be//wp-content/themes/pankart/public/img/boutonorange.svg");
  background-size: 100% 100%;
  transition: 0.2s ease;
}

.orange-full, .orange:hover {
  color: #161616;
  background-image: url("https://pankart.natacha-belboom.be//wp-content/themes/pankart/public/img/boutonfull.svg");
  background-size: 100% 100%;
  transition: 0.2s ease;
}

.black-full, .black:hover {
  color: #F2B151;
  background-image: url("https://pankart.natacha-belboom.be//wp-content/themes/pankart/public/img/boutonnoir-full.svg");
  background-size: 100% 100%;
  transition: 0.2s ease;
}

.presentation {
  background-color: #F2B151;
  text-align: center;
  padding: 3.75em 2em 4.375em;
}

.presentation__text {
  margin: 0 auto 3.75em;
}

.presentation h2 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 2.5em;
}

.home-video {
  background-color: #161616;
  padding: 3.75em 0 4.375em;
  text-align: center;
}

.home-video div {
  margin-bottom: 3.75em;
}

.home-video iframe {
  width: 400px;
}

.last-video {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 2.5em;
  color: #F2B151;
}

.pub__ep {
  background-color: #F2B151;
}

.punchline-block {
  padding: 3.125em 2.5em 0;
}

.pub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 40%;
  height: auto;
  z-index: 999;
}

.infos {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infos h2 {
  color: #161616;
  font-size: 1.25em;
  text-align: center;
  font-family: "Oswald", sans-serif;
  margin-top: 2em;
}

.punchline {
  visibility: hidden;
}

.events {
  background-color: #F2B151;
  text-align: center;
  padding: 3.125em 2.5em;
}

.events h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 2.5em;
  border-bottom: 2px solid #161616;
}

.event__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 3.125em 0.625em;
  border-bottom: 2px solid #161616;
}

.event__container p {
  margin-bottom: 1.5625em;
}

.event__date {
  font-size: 1em;
  font-weight: bold;
}

.opinions {
  background-color: #161616;
  padding: 0 1.5em;
}

.opinions__container a {
  margin: 0 auto 1em;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .infos h2 {
    font-size: 1.5625em;
  }

  .text-transparent p {
    font-size: 1.5em;
  }

  .home-video iframe {
    width: 560px;
  }

  .events {
    padding: 3.125em 5em;
  }

  .opinions {
    padding: 0 5em;
  }

  .pub__ep.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 4em;
         column-gap: 4em;
  }

  .punchline-block {
    padding: 8.875em 4em 10em;
    position: relative;
  }

  .punchline {
    color: #161616;
    opacity: 0.2;
    font-family: "Oswald", sans-serif;
    font-size: 4em;
    visibility: visible;
  }

  #punch1 {
    position: absolute;
    top: 80px;
    left: 71px;
  }

  #punch2 {
    position: absolute;
    right: 130px;
  }

  .infos {
    align-self: center;
    display: flex;
    flex-direction: column;
  }

  .infos h2 {
    font-size: 2em;
    margin-bottom: 2em;
  }
}
@media screen and (min-width: 1200px) {
  .text-transparent {
    position: absolute;
    bottom: 120px;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    transition: 0.5s ease;
  }

  .text-transparent p {
    color: #161616;
    font-size: 2em;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    line-height: 1em;
    background-color: #F2B151;
    opacity: 0.8;
    padding: 1em 2em;
  }

  .text-transparent:hover {
    letter-spacing: 0.2em;
    transition: 0.5s ease;
  }

  .presentation {
    padding: 3.75em 0 4.375em;
  }

  .presentation__text {
    width: 50em;
    margin: 0 auto 3.75em;
  }

  .home-video {
    background-color: #161616;
    padding: 3.75em 0 4.375em;
    text-align: center;
  }

  .home-video div {
    margin-bottom: 3.75em;
  }

  .last-video {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 2.5em;
    color: #F2B151;
  }

  .home-video iframe {
    width: 560px;
  }

  .pub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 7em;
         column-gap: 7em;
  }

  .punchline {
    visibility: visible;
    color: #161616;
    opacity: 0.2;
    font-family: "Oswald", sans-serif;
    font-size: 4em;
  }

  #punch1 {
    position: absolute;
    top: 80px;
    left: 71px;
  }

  #punch2 {
    position: absolute;
    right: 130px;
  }

  .punchline-block {
    position: relative;
    padding: 8.875em 10em 10em;
  }

  .infos {
    align-self: center;
    display: flex;
    flex-direction: column;
  }

  .infos h2 {
    font-size: 2em;
    margin-bottom: 2em;
  }

  .events {
    padding: 5em 8.875em;
  }

  .event__date {
    font-size: 1em;
    font-weight: bold;
  }

  .opinions {
    background-color: #161616;
    padding: 0 230px;
  }
}
@media screen and (min-width: 1920px) {
  .text__color, .presentation, .home-video, .pub__ep, .opinions, .events {
    padding-left: calc((100vw - 1920px) / 2);
    padding-right: calc((100vw - 1920px) / 2);
  }
}
.end {
  padding: 1.25em 2.5em;
}

.end__menu .title {
  color: black;
  font-family: "Oswald", sans-serif;
}

.end__menu {
  margin: 1.25em;
}

.end__menu a {
  color: black;
  padding: 0.3571428571em 0;
  font-size: 0.75em;
}

.menu__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu__container nav {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.copyright {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .end__menu {
    margin: 1em;
  }

  .end__menu a {
    font-size: 0.8em;
  }
}
.news__main {
  background-color: #161616;
  transition: 0.5s ease;
}

.news {
  padding: 80px 40px;
  transition: 0.5s ease;
}

.new__card {
  border-bottom: 2px solid #F2B151;
}

.news__title {
  text-align: center;
  color: #F2B151;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  padding: 40px 0 50px;
}

.new__description {
  word-break: break-all;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: 1.2;
}

.new__fig {
  display: none;
}

.new__info {
  color: white;
}

.new__title {
  text-transform: uppercase;
  padding-bottom: 0.625em;
  font-weight: bold;
  color: #F2B151;
}

.new__title:not(first-of-type) {
  margin-top: 50px;
}

.new__date {
  font-size: 0.875em;
}

.new__description {
  padding: 1.25em 0;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .news__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .news {
    padding: 70px;
    transition: 0.5s ease;
  }

  .new__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding-bottom: 50px;
    border-bottom: 2px solid #F2B151;
  }

  .new__description.column {
    -moz-column-gap: 20px;
         column-gap: 20px;
    -moz-column-count: 2;
         column-count: 2;
  }

  .new__info {
    flex: 5;
  }

  .new__fig {
    flex: 6;
    display: inline-block;
  }

  .new__fig img {
    width: 100%;
    height: auto;
  }

  .new__fig + .new__info {
    width: 350px;
  }

  .new:nth-child(even) .new__fig {
    order: 1;
  }
}
@media screen and (min-width: 1200px) {
  .news__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .news {
    padding: 80px 130px;
    transition: 0.5s ease;
  }

  .new {
    padding: 0 15%;
  }

  .new__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding-bottom: 50px;
    border-bottom: 2px solid #F2B151;
  }

  .new__description.column {
    -moz-column-gap: 20px;
         column-gap: 20px;
    -moz-column-count: 2;
         column-count: 2;
  }

  .new__info {
    flex: 5;
  }

  .new__fig {
    flex: 6;
    display: inline-block;
  }

  .new__fig img {
    width: 100%;
    height: auto;
  }

  .new__fig + .new__info {
    width: 350px;
  }

  .new:nth-child(even) .new__fig {
    order: 1;
  }
}
@media screen and (min-width: 1920px) {
  .news {
    padding-left: calc((100vw - 1920px) / 2);
    padding-right: calc((100vw - 1920px) / 2);
  }
}
.main__bio {
  background-color: #161616;
  padding: 80px 40px;
}

.bio__fig img {
  width: 100%;
  height: auto;
  margin-bottom: 1.5em;
}

.bio__title {
  color: #F2B151;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  text-align: center;
  padding-bottom: 40px;
}

.bio__biography {
  color: white;
  font-size: 0.9em;
  line-height: 30px;
  text-align: left;
  width: 100%;
  margin-bottom: 40px;
}

.bio-membre__small {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.bio-membres__list {
  display: inline-block;
  cursor: pointer;
}

.bio-membres__fig ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  padding-top: 45em;
  position: relative;
  color: white;
}

.bio-membre__title {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: #F2B151;
}

.bio-membre__instruments {
  padding: 1em 0;
}

.bio-membre {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s ease all;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
}

.bio-membre__big {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1.2em;
}

.bio-membre__description {
  width: 300px;
}

.bio-membres__list:nth-child(1) .bio-membre {
  opacity: 1;
}

@media screen and (min-width: 1000px) {
  .main__bio {
    padding: 120px 142px;
  }

  .bio__fig img {
    width: 60%;
    height: auto;
    padding-right: 20px;
  }

  .bio__fig {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .bio__title {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .bio__biography {
    font-size: 1em;
    margin-bottom: 6.25em;
  }

  .bio-membre__small {
    width: 120px;
    height: 120px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .bio-membres__list {
    display: inline-block;
    cursor: pointer;
  }

  .bio-membres__fig ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    padding-top: 25em;
    position: relative;
    color: white;
  }

  .bio-membre__title {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    color: #F2B151;
  }

  .bio-membre__instruments {
    padding: 1em 0;
  }

  .bio-membre {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s ease all;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;
  }

  .bio-membre__big {
    width: 300px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 1.2em;
  }

  .bio-membre__description {
    width: 400px;
  }

  .bio-membres__list:nth-child(1) .bio-membre {
    opacity: 1;
  }
}
@media screen and (min-width: 1920px) {
  .biography-group, .biography-member {
    padding-left: calc((100vw - 1920px) / 2);
    padding-right: calc((100vw - 1920px) / 2);
  }
}
.main__music {
  background-color: #161616;
  padding: 5em 1.5em;
}

.musics__title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 2.5em;
  text-align: center;
  color: #F2B151;
}

.musics__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.music__info {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 2px solid #F2B151;
}

.music__title {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.2em;
  color: #fff;
  width: 15.6em;
}

.music__album {
  display: none;
}

.music__time {
  display: none;
}

.music__play img {
  width: 50%;
  height: auto;
  cursor: pointer;
}

.lyrics-off {
  line-height: 1.5em;
  text-align: center;
  width: 100%;
  color: #161616;
}

.lyrics__container {
  display: none;
}

@media screen and (min-width: 800px) {
  .main__music {
    padding: 7.5em 5em;
    transition: 0.5s ease;
  }

  .music {
    width: 50em;
  }

  .music__time {
    display: block;
    font-size: 0.875em;
  }

  .music__album {
    padding-right: 5em;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .main__music {
    padding: 5em 8.75em;
    transition: 0.5s ease;
    position: relative;
  }

  .music__album {
    display: block;
  }

  .lyrics-off {
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    color: #161616;
  }

  .lyrics__container {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    overflow-y: scroll;
    z-index: 10;
    opacity: 0;
    background-color: #F2B151;
    padding: 40px 60px;
  }

  .musics__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 900px;
  }
}
@media screen and (min-width: 1920px) {
  .musics {
    padding-left: calc((100vw - 1920px) / 2);
    padding-right: calc((100vw - 1920px) / 2);
  }
}
.main__contact {
  background-color: #161616;
  padding: 5em 1.5em;
  transition: 0.5s ease;
}

.contact {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 1.25em;
  color: #F2B151;
}

form label {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  color: #F2B151;
}

.name-border, .email-border, .msg-border {
  padding: 10px;
  background-color: #161616;
  position: relative;
  top: 15px;
  left: 20px;
  z-index: 9999;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.2em;
}

form input, form textarea {
  border: none;
  border: 2px solid #F2B151;
  border-radius: 5px;
  background-color: #161616;
  padding: 1.1538461538em 1.5384615385em;
  width: 100%;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1em;
  color: #f6f6f6;
}

form input::-moz-placeholder, form textarea::-moz-placeholder {
  color: #BCBCBC;
  font-size: 0.8em;
  font-weight: bold;
}

form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  color: #BCBCBC;
  font-size: 0.8em;
  font-weight: bold;
}

form input::placeholder, form textarea::placeholder {
  color: #BCBCBC;
  font-size: 0.8em;
  font-weight: bold;
}

form textarea {
  min-width: 100%;
  max-width: 100%;
  height: 8.75em;
  min-height: 6.25em;
  max-height: 12.5em;
}

form .button {
  position: relative;
  padding: 1em 0;
  width: 100%;
  margin-top: 1.3888888889em;
  background-color: #F2B151;
  color: #161616;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.125em;
  letter-spacing: 0.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .main__contact {
    padding: 7.5em 6.25em;
    transition: 0.5s ease;
  }
}
@media screen and (min-width: 1200px) {
  .main__contact {
    padding: 7.5em 12.5em;
  }

  form textarea {
    min-width: 100%;
    max-width: 100%;
    height: 14.0625em;
    min-height: 6.25em;
    max-height: 18.75em;
  }
}
@media screen and (min-width: 1920px) {
  .form {
    padding-left: calc((100vw - 1920px) / 2);
    padding-right: calc((100vw - 1920px) / 2);
  }
}
.main__opinion {
  background-color: #161616;
  padding: 0 2em;
  transition: 0.5s ease;
}

.main__title {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #F2B151;
  padding: 5em 0;
}

.opi__infos {
  position: relative;
  color: white;
  width: 350px;
  border-left: 2px solid #F2B151;
  padding: 20px 20px;
}

.opi__title {
  font-size: 1em;
  text-transform: uppercase;
}

.opi__date {
  font-size: 14px;
  margin: 1.1em 0;
}

.opi__avis {
  font-size: 0.9em;
  line-height: 1.4;
}

.choice {
  position: absolute;
  width: 10em;
  height: 10em;
  opacity: 0.35;
  background-size: 100% 100%;
}

.love {
  top: -3em;
  right: -3em;
  background-image: url("https://pankart.natacha-belboom.be/wp-content/themes/pankart/public/img/positive-vote.svg");
}

.hate {
  transform: scale(1, -1);
  top: -3em;
  right: -3em;
  background-image: url("https://pankart.natacha-belboom.be/wp-content/themes/pankart/public/img/positive-vote.svg");
}

.opi__container {
  padding-bottom: 100px;
}

.opi__infos__hate {
  margin-bottom: 1em;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .main__opinion {
    padding: 0 150px;
    transition: 0.5s ease;
  }

  .opi__infos {
    width: 450px;
  }

  .choice {
    width: 12em;
    height: 12em;
  }

  .love {
    top: -3em;
    right: -5em;
  }

  .hate {
    transform: scale(1, -1);
    top: -3em;
    right: -5em;
  }

  .opi__container {
    position: relative;
  }

  .opi__infos__love {
    position: absolute;
    right: 0;
    top: -20em;
  }

  .opi__infos__hate {
    margin-bottom: 20em;
  }
}
@media screen and (min-width: 1200px) {
  .main__opinion {
    padding: 0 200px;
    transition: 0.5s ease;
  }

  .main__title {
    font-size: 25px;
  }

  .opi__infos {
    width: 530px;
  }

  .opi__date {
    font-size: 14px;
  }

  .opi__title {
    font-size: 18px;
  }

  .opi__avis {
    line-height: 1.4;
    font-size: 1em;
  }

  .choice {
    width: 15em;
    height: 15em;
  }

  .love {
    top: -3em;
    right: -7em;
  }

  .hate {
    transform: scale(1, -1);
    top: -3em;
    right: -7em;
  }

  .opi__container {
    position: relative;
  }

  .opi__infos__love {
    position: absolute;
    right: 0;
    top: -20em;
  }

  .opi__infos__hate {
    margin-bottom: 20em;
  }
}
@media screen and (min-width: 1920px) {
  .main__opinion {
    padding-left: calc((100vw - 1920px) / 2);
    padding-right: calc((100vw - 1920px) / 2);
  }
}
.gallery__main {
  background-color: #161616;
  padding: 5em 1.5em;
  transition: 0.5s ease;
}

.gallery__title {
  text-align: center;
  color: #F2B151;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  padding-bottom: 50px;
}

.gallery__image {
  width: 100%;
  margin-bottom: 1em;
}

.gallery__container {
  -moz-column-count: 2;
       column-count: 2;
  transition: 0.5s ease;
  margin-bottom: 50px;
}

.image {
  width: 100%;
}

.gallery2__video > iframe {
  width: 100%;
}

.gallery2__container {
  -moz-column-count: 1;
       column-count: 1;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .gallery__main {
    padding: 80px 100px;
    transition: 0.5s ease;
  }

  .gallery__container {
    -moz-column-count: 3;
         column-count: 3;
    transition: 0.5s ease;
  }

  .gallery2__container {
    -moz-column-count: 2;
         column-count: 2;
    transition: 0.5s ease;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__main {
    padding: 80px 130px;
    transition: 0.5s ease;
  }

  .gallery__container {
    -moz-column-count: 4;
         column-count: 4;
    transition: 0.5s ease;
    margin-bottom: 50px;
  }

  .gallery2__container {
    -moz-column-count: 2;
         column-count: 2;
    transition: 0.5s ease;
  }
}
@media screen and (min-width: 1920px) {
  .gallery, .gallery2 {
    padding-left: calc((100vw - 1920px) / 2);
    padding-right: calc((100vw - 1920px) / 2);
  }
}
.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

html {
  font-family: "Open Sans", sans-serif;
}

body, body * {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: #161616;
  /* color of the scroll thumb */
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #F2B151;
  border-radius: 5px;
  border: 1px solid #161616;
}
