@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.logo {
  width: 250px;
  height: auto;
  position: absolute;
}

.header {
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 40px 120px;
}

.menu__link__start {
  text-decoration: none;
  color: white;
  padding: 0 30px;
}

.menu__social {
  padding: 0;
}

.nav__active {
  color: #F2B151;
  font-weight: bold;
}

.text__color {
  background-color: #161616;
  text-align: center;
  padding: 110px 0 120px;
}

.text__color div {
  text-align: center;
}

.text__color div p {
  padding: 30px 0;
  font-size: 50px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #161616;
  text-shadow: -1px 0 rgba(242, 177, 81, 0.5), 0 1px rgba(242, 177, 81, 0.5), 1px 0 rgba(242, 177, 81, 0.5), 0 -1px rgba(242, 177, 81, 0.5);
}

.band__img img {
  padding: 140px 140px;
  display: block;
  width: 100%;
  transition: 0.7s ease;
}

.band__img img:hover {
  padding: 120px 0;
}

.button__link {
  font-size: 1em;
  padding: 15px 110px;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 600;
}

.button__link.orange {
  background-color: #E19304;
  color: #161616;
}

.button__link.black {
  background-color: #161616;
  color: #E19304;
}

.button__link.white {
  background-color: #f6f6f6;
  color: #161616;
  margin: 0;
  padding: 15px 80px;
}

.presentation {
  background-color: #F2B151;
  text-align: center;
  padding: 60px 0 70px;
}

.presentation__text {
  width: 800px;
  margin: 0 auto 60px;
}

.presentation h2 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 40px;
}

.embed-container {
  margin-top: 60px;
}

.pub__ep {
  background-color: #161616;
}

.pub__ep.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 200px;
}

.pub__ep.img {
  width: 500px;
  height: auto;
}

.infos {
  align-self: center;
}

.infos h2 {
  color: #F6F6F6;
  margin-bottom: 60px;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
}

.events {
  background-color: #F2B151;
  text-align: center;
  padding: 80px 142px;
}

.events h2 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 60px;
  border-bottom: 2px solid #161616;
}

.event__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  border-bottom: 2px solid #161616;
}

.event__date {
  font-size: 16px;
  font-weight: bold;
}

.opinions {
  background-color: #161616;
  padding: 50px 142px;
}

.opinions h2 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 60px;
  color: #F6F6F6;
}

.opinion__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.opinion__img {
  width: 300px;
  height: auto;
  padding-right: 20px;
}

.opinions__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  position: relative;
}

.opinion__infos p {
  color: #f6f6f6;
  width: 370px;
}

.opinion__title {
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: bold;
}

.opinion__date {
  font-size: 14px;
}

.opinion__avis {
  padding: 25px 0;
}

.opinion__infos a {
  text-decoration: none;
  color: #E19304;
}

.end {
  padding: 20px 142px;
}

.end__menu .title {
  color: black;
  font-family: "Oswald", sans-serif;
}

.end__menu {
  margin: 20px;
}

.end__menu a {
  color: black;
  padding: 5px 0;
  font-size: 14px;
}

.menu__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu__container nav {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.main {
  background-color: #161616;
  padding: 120px 142px;
}

.news__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.new__card {
  padding: 30px 20px;
  background-color: #F2B151;
}

.new__fig img {
  width: 370px;
}

.new__description {
  width: 600px;
}

.new__title {
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: bold;
}

.new__date {
  font-size: 14px;
}

.new__description {
  padding: 20px 0;
}

.main__bio {
  background-color: #161616;
  padding: 120px 142px;
}

.bio__fig img {
  width: 950px;
  height: auto;
  padding-right: 20px;
}

.bio__title {
  color: #F2B151;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  padding-bottom: 40px;
}

.bio__biography {
  color: white;
  font-size: 1em;
  line-height: 30px;
}

.bio {
  width: 300px;
}

.bio__fig {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

html {
  font-family: "Open Sans", sans-serif;
}

body, body * {
  box-sizing: border-box;
}
