.news__main{
  background-color: #161616;
  transition: .5s ease;
}

.news{
  padding: 80px 40px;
  transition: .5s ease;
}

.new__card{
  border-bottom: 2px solid #F2B151;
}

.news__title{
  text-align: center;
  color: #F2B151;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  padding: 40px 0 50px;
}

.new__description{
  word-break: break-all;
  hyphens: auto;
  line-height: 1.2;
}

.new__fig{
  display: none;
}

.new__info{
  color: white;
}

.new__title{
  text-transform: uppercase;
  padding-bottom: 0.625em;
  font-weight: bold;
  color: #F2B151;
}

.new__title:not(first-of-type){
  margin-top: 50px;
}

.new__date{
  font-size: 0.875em;
}

.new__description{
  padding: 1.25em 0;
}

@media screen and (min-width: 800px) and (max-width: 1200px){
  .news__container{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .news{
    padding: 70px;
    transition: .5s ease;
  }

  .new__card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 50px;
    border-bottom: 2px solid #F2B151;
  }

  .new__description.column{
    column-gap: 20px;
    column-count: 2;
  }

  .new__info {
    flex: 5;
  }

  .new__fig{
    flex: 6;
    display: inline-block;
  }

  .new__fig img{
    width: 100%;
    height: auto;
  }

  .new__fig+.new__info{
    width: 350px;
  }

  .new:nth-child(even) .new__fig {
    order:  1;
  }
}

@media screen and (min-width: 1200px) {
  .news__container{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .news{
    padding: 80px 130px;
    transition: .5s ease;
  }

  .new{
    padding: 0 15%;
  }

  .new__card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 50px;
    border-bottom: 2px solid #F2B151;
  }

  .new__description.column{
    column-gap: 20px;
    column-count: 2;
  }

  .new__info {
    flex: 5;
  }

  .new__fig{
    flex: 6;
    display: inline-block;
  }

  .new__fig img{
    width: 100%;
    height: auto;
  }

  .new__fig+.new__info{
    width: 350px;
  }

  .new:nth-child(even) .new__fig {
    order:  1;
  }

}

@media screen and (min-width: 1920px) {
  .news{
    padding-left: calc((100vw - 1920px) / 2);
    padding-right:  calc((100vw - 1920px) / 2);
  }

}
