.main{
  background-color: #161616;
  padding: 120px 142px;

}

.news__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}
.new__card{
  padding: 30px 20px;
  background-color: #F2B151;

}
.new__fig img{
  width: 370px;
}

.new__description{
  width: 600px;
}

.new__title{
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: bold;
}
.new__date{
  font-size: 14px;
}
.new__description{
  padding: 20px 0;
}