@import "reset";
@import "header";
@import "home-page";
@import "footer";
@import "news";
@import "bio";
@import "music";
@import "contact";
@import "opinion";
@import "galerie";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

html{
  font-family: 'Open Sans', sans-serif;
}

body, body * {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: #161616; /* color of the scroll thumb */
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #F2B151;
  border-radius: 5px;
  border: 1px solid #161616;
}
